* {
    /* outline: 1px solid magenta; */
}

body {
    background-color: rgb(235, 235, 235);
    height: 100vh;
    width: 100vw;
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    display: flex;
    align-items: center;
}

h1 {
    text-align: center;
    margin: 1em;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    text-shadow: 2px 2px #cbcbcb;
    letter-spacing: 0.2em;
}

.container {
    max-width: 750px;
    padding: 20px;
    width: 80%;
    border-radius: 50px;
    background: linear-gradient(145deg, #fbfbfb, #d4d4d4);
    box-shadow:  50px  50px 100px #a5a5a5,
                -50px -50px 100px #ffffff;
}

.container .fileselector {
    box-shadow: 9px  9px 20px #a5a5a5,
               -9px -9px 20px #ffffff;
}

.form-group {
    text-align: center;
    margin: 1.5em auto;
}

.container ul {
    width: 90%;
}

.container .password {
    display: flex;
    border-radius: 5px;
    box-shadow: 9px  9px 20px #a5a5a5,
               -9px -9px 20px #ffffff;
}

.container .buttons {
    display: flex;
    justify-content: space-between;
}

.container .radio-button {
    margin-left: 0;
    width: 48%;
    box-shadow: 9px  9px 20px #a5a5a5,
               -9px -9px 20px #ffffff;
}

.container .process-button {
    width: 100%;
    border: 1px solid rgb(198, 152, 1);
    margin-bottom: 5%;
    box-shadow: 9px  9px 20px #a5a5a5,
               -9px -9px 20px #ffffff;
}

/* query viewport size for smartphone */